/********************************
Custom CSS - By Jean Boyer Arroyo
********************************/


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* Hero/Banner Background IMG */
#banner-hero {
  background-image: url("img/banner/banner-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh
}

/* Carousel Slides */
.carousel-item {
    width: 50%;
}

/* Our Services */
#services-ras,
#portfolio-ras,
#blog-ras {
  padding-top: 100px;
  padding-bottom: 100px;
}

#services-headline,
#cta-headline,
#portfolio-headline,
#blog-headline {
  text-align: center;
  margin: 0 auto;
}

/* CTA Section */
#cta-ras {
  background-color: #28628b;
  color: #fff;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

#cta-ras h1,
#portfolio-ras h1,
#portfolio-ras p,
#blog-ras h1,
#blog-ras p {
  padding-bottom: 15px;
}

/* Blog Section */
#banner-img {
  width: 50%;
}

#uline {
  text-decoration: underline;
}
